{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ABC Javascript -->
<script src="{% static 'tunes/js/abcjs-basic-min.js' %}" type="text/javascript"></script>
<!-- ABCJS Audio Style -->
<link rel="stylesheet" type="text/css" href="{% static 'tunes/css/abcjs-audio.css' %}">
<style>
    main {
        max-width: 770px;
        margin: 0 auto;
    }
    .feedback {
        height: 600px;
        font-family: Arial, "sans-serif";
    }
    .highlight {
        fill: #0a9ecc;
    }
    .abcjs-cursor {
        stroke: red;
    }
    .click-explanation {
        color: red;
        font-style: italic;
    }
    .beat {
        font-weight: bold;
    }
    .label {
        color: #888888;
}
    .midi {
        margin-top: 20px;
        margin-left: 5px;
    }
    .seek-controls {
        margin-top: 5px;
    }
    .seek-controls.disabled {
        background-color: #cccccc;
        opacity: 0.5;
    }
</style>

<h1 style="display:inline;">{{ tune.name }} <h2 style="display:inline;">(type: {{ tune.tune_type }})</h2></h1> 
<hr>



{% endblock %}