{% extends 'music_base.html' %}
{% load static %}

{% block music_content %}
<h1
    style="text-align: center;"
>
    Music
</h1>

<p
    style="text-align: left;"
>
    I love playing music. In the last couple of years I have really
    dived head first into learning Irish music. I got the introductory
    insturment, the tin whistle, and moved onto learning the flute
    as well. Such fun music and people.
    <br><br>
    I have started to put together a tune book to write down the tunes
    that I know, how I play them, and resources I have found useful in learning
    and playing the music.
    <br><br>
    Hope you find it useful as well.
</p>
{% endblock %}